body {
  background-color: #444;
}

.card-body {
  padding: .5rem;
}

.row.no-pad {
  margin-left:-50px;
}

.form-group {
  margin-bottom: .25rem;
}

.payment .form-control {
  background-color: black;
  color: white;
}

.btn {
  margin-right: 1rem;
  background-color: #07889B;
}

.sale-items {
  padding-left: 0;
}

.card-header, .modal-header {
  background-color: #C0B283;
}

.special-font {
  font-family: 'Cedarville Cursive', cursive;
}
/* .table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #E7DFDD;
  color: #E7DFDD;
}

.table-striped tbody tr:nth-of-type(2n) {
  color: rgba(255,255,255);
} */
/* .row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
} */